 .u-section-1 {
  background-image: url("images/2B4DB2B1-EA51-414F-AFD5-1A55607DBAC5_1_105_c.jpeg");
}

.u-section-1 .u-sheet-1 {
  min-height: 468px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 552px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 530px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 380px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 9234px;
}

.u-section-2 .u-list-1 {
  margin-top: 4px;
  margin-bottom: 0;
}

.u-section-2 .u-repeater-1 {
  min-height: 2972px;
  grid-auto-columns: 33.3333%;
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  grid-gap: 0px 0px;
}

.u-section-2 .u-image-1 {
  background-image: url("images/8A9C1D10-AA00-42CE-9EB8-76BAB14B0AD3_1_105_c.jpeg");
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-text-1 {
  font-weight: 800;
  margin: 347px 0 0 8px;
}

.u-section-2 .u-image-2 {
  background-image: url("images/288F476D-B56C-4504-9289-FB3BE22B4B41_1_105_c.jpeg");
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-text-2 {
  font-weight: 800;
  margin: 347px 0 0 8px;
}

.u-section-2 .u-image-3 {
  background-image: url("images/CEB2F36F-7818-4DBE-B538-337594E4E564_1_105_c.jpeg");
}

.u-section-2 .u-container-layout-3 {
  padding: 0;
}

.u-section-2 .u-text-3 {
  font-weight: 800;
  margin: 347px 0 0 8px;
}

.u-section-2 .u-image-4 {
  background-image: url("images/A9D348D5-B79A-47CA-ADF5-53D00995CA6F_1_105_c.jpeg");
}

.u-section-2 .u-container-layout-4 {
  padding: 0;
}

.u-section-2 .u-text-4 {
  font-weight: 800;
  margin: 347px 0 0 8px;
}

.u-section-2 .u-image-5 {
  background-image: url("images/B40DD081-5DEF-4ABB-A767-7F86DBE9C9FD_1_105_c.jpeg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-5 {
  padding: 0;
}

.u-section-2 .u-text-5 {
  font-weight: 800;
  margin: 347px 0 0 8px;
}

.u-section-2 .u-image-6 {
  background-image: url("images/E7DE97C6-A9AA-403D-BF68-DD10B950874A_1_105_c.jpeg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-6 {
  padding: 0;
}

.u-section-2 .u-text-6 {
  font-weight: 800;
  margin: 347px 0 0 8px;
}

.u-section-2 .u-image-7 {
  background-image: url("images/7CD59626-13FB-4067-967B-92D7D19E8507_1_105_c.jpeg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-7 {
  padding: 0;
}

.u-section-2 .u-text-7 {
  font-weight: 800;
  margin: 347px 0 0 8px;
}

.u-section-2 .u-image-8 {
  background-image: url("images/B0FCC157-FB23-491C-94E4-01DF80EF4380_1_105_c.jpeg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-8 {
  padding: 0;
}

.u-section-2 .u-text-8 {
  font-weight: 800;
  margin: 347px 0 0 8px;
}

.u-section-2 .u-image-9 {
  background-image: url("images/16E55E09-DB11-4DD1-A377-DB401D317C82_1_105_c.jpeg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-9 {
  padding: 0;
}

.u-section-2 .u-text-9 {
  font-weight: 800;
  margin: 347px 0 0 8px;
}

.u-section-2 .u-image-10 {
  background-image: url("images/9A393267-125D-4DB2-ACBD-A0F8C1BB4C59_1_105_c.jpeg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-10 {
  padding: 0;
}

.u-section-2 .u-text-10 {
  font-weight: 800;
  margin: 347px 0 0 8px;
}

.u-section-2 .u-image-11 {
  background-image: url("images/BBDE5819-38CD-4BB4-A394-3829CF67C1D4_1_105_c.jpeg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-11 {
  padding: 0;
}

.u-section-2 .u-text-11 {
  font-weight: 800;
  margin: 347px 0 0 8px;
}

.u-section-2 .u-image-12 {
  background-image: url("images/4297A887-5FD5-4B39-8EE9-5E933E84E17D_1_105_c.jpeg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-12 {
  padding: 0;
}

.u-section-2 .u-text-12 {
  font-weight: 800;
  margin: 347px 0 0 8px;
}

.u-section-2 .u-image-13 {
  background-image: url("images/AEF08222-19A6-407B-A646-3B81AC8FC695_1_105_c.jpeg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-13 {
  padding: 0;
}

.u-section-2 .u-text-13 {
  font-weight: 800;
  margin: 347px 0 0 8px;
}

.u-section-2 .u-image-14 {
  background-image: url("images/5DF2E8B3-C41D-497D-BCBA-BC693144EC69_1_105_c.jpeg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-14 {
  padding: 0;
}

.u-section-2 .u-text-14 {
  font-weight: 800;
  margin: 347px 0 0 8px;
}

.u-section-2 .u-image-15 {
  background-image: url("images/7AA28E85-8CB3-4811-87F0-592D280441BF_1_105_c.jpeg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-15 {
  padding: 0;
}

.u-section-2 .u-text-15 {
  font-weight: 800;
  margin: 347px 0 0 8px;
}

.u-section-2 .u-image-16 {
  background-image: url("images/84F48051-C64F-4978-8E75-E75448535065_1_105_c.jpeg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-16 {
  padding: 0;
}

.u-section-2 .u-text-16 {
  font-weight: 800;
  margin: 347px 0 0 8px;
}

.u-section-2 .u-image-17 {
  background-image: url("images/6E0DFB6E-B1BB-4B30-82D9-CE666B7E2B08_1_105_c.jpeg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-17 {
  padding: 0;
}

.u-section-2 .u-text-17 {
  font-weight: 800;
  margin: 347px 0 0 8px;
}

.u-section-2 .u-image-18 {
  background-image: url("images/4C558E43-4204-45FE-B4EF-DAD433025175_1_105_c.jpeg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-18 {
  padding: 0;
}

.u-section-2 .u-text-18 {
  font-weight: 800;
  margin: 347px 0 0 8px;
}

.u-section-2 .u-image-19 {
  background-image: url("images/24FEA50C-7D47-4725-B3A3-B6DBF5AF8274_1_105_c.jpeg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-19 {
  padding: 0;
}

.u-section-2 .u-text-19 {
  font-weight: 800;
  margin: 347px 0 0 8px;
}

.u-section-2 .u-image-20 {
  background-image: url("images/A85FA8DE-028D-4E66-BD43-647D16399F4E_1_105_c.jpeg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-20 {
  padding: 0;
}

.u-section-2 .u-text-20 {
  font-weight: 800;
  margin: 347px 0 0 8px;
}

.u-section-2 .u-image-21 {
  background-image: url("images/65C0D1BE-A54E-497A-92B3-866D216E2DA1_1_105_c.jpeg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-21 {
  padding: 0;
}

.u-section-2 .u-text-21 {
  font-weight: 800;
  margin: 347px 0 0 8px;
}

.u-section-2 .u-image-22 {
  background-image: url("images/04D7456A-8E51-4AEC-A12B-ECD626FA31E6_1_105_c.jpeg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-22 {
  padding: 0;
}

.u-section-2 .u-text-22 {
  font-weight: 800;
  margin: 347px 0 0 8px;
}

.u-section-2 .u-image-23 {
  background-image: url("images/6C04BFE1-5438-44D3-89C1-22B50E631EAD_1_105_c.jpeg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-23 {
  padding: 0;
}

.u-section-2 .u-text-23 {
  font-weight: 800;
  margin: 347px 0 0 8px;
}

.u-section-2 .u-image-24 {
  background-image: url("images/77FC1092-7EBB-46F7-AD7F-ACC77B4AE7DB_1_105_c.jpeg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-24 {
  padding: 0;
}

.u-section-2 .u-text-24 {
  font-weight: 800;
  margin: 347px 0 0 8px;
}

.u-section-2 .u-list-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-repeater-2 {
  min-height: 3728px;
  grid-auto-columns: 33.3333%;
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  grid-gap: 0px 0px;
}

.u-section-2 .u-image-25 {
  background-image: url("images/177240033_511081830053157_5467075403478197169_n.jpeg");
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-25 {
  padding: 1px 10px 10px;
}

.u-section-2 .u-text-25 {
  font-weight: 800;
  font-size: 0.75rem;
  margin: 0 auto 0 0;
}

.u-section-2 .u-image-26 {
  background-image: url("images/290643881_573157687636379_3936677741282175791_n.jpeg");
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-26 {
  padding: 1px 10px 10px;
}

.u-section-2 .u-text-26 {
  font-weight: 800;
  font-size: 0.75rem;
  margin: 0 auto 0 0;
}

.u-section-2 .u-image-27 {
  background-image: url("images/COLLE.jpeg");
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-27 {
  padding: 1px 10px 10px;
}

.u-section-2 .u-text-27 {
  font-weight: 800;
  font-size: 0.75rem;
  margin: 0 auto 0 0;
}

.u-section-2 .u-image-28 {
  background-image: url("images/281134576_405074044804006_7269611860975530325_n.jpeg");
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-28 {
  padding: 1px 10px 10px;
}

.u-section-2 .u-text-28 {
  font-weight: 800;
  font-size: 0.75rem;
  margin: 0 auto 0 0;
}

.u-section-2 .u-image-29 {
  background-image: url("images/290234318_1667867340266214_3174271728762904227_n.jpeg");
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-29 {
  padding: 1px 10px 10px;
}

.u-section-2 .u-text-29 {
  font-weight: 800;
  font-size: 0.75rem;
  margin: 0 auto 0 0;
}

.u-section-2 .u-image-30 {
  background-image: url("images/176303905_960660351337607_3823168628422329308_n.jpeg");
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-30 {
  padding: 1px 10px 10px;
}

.u-section-2 .u-text-30 {
  font-weight: 800;
  font-size: 0.75rem;
  margin: 0 auto 0 0;
}

.u-section-2 .u-image-31 {
  background-image: url("images/290969638_718612926040278_7599720256608333053_n.jpeg");
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-31 {
  padding: 1px 10px 10px;
}

.u-section-2 .u-text-31 {
  font-weight: 800;
  font-size: 0.75rem;
  margin: 0 auto 0 0;
}

.u-section-2 .u-image-32 {
  background-image: url("images/89382049_204627183940439_8992197976033014503_n.jpeg");
  margin-top: 0;
  margin-bottom: 0;
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-32 {
  padding: 1px 10px 10px;
}

.u-section-2 .u-text-32 {
  font-weight: 800;
  font-size: 0.75rem;
  margin: 0 auto 0 0;
}

.u-section-2 .u-image-33 {
  background-image: url("images/280936841_1038023516921556_6005240649999835219_n.jpeg");
  margin-top: 0;
  margin-bottom: 0;
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-33 {
  padding: 1px 10px 10px;
}

.u-section-2 .u-text-33 {
  font-weight: 800;
  font-size: 0.75rem;
  margin: 0 auto 0 0;
}

.u-section-2 .u-image-34 {
  background-image: url("images/17438456_316959552052350_6738034420126580736_n.jpeg");
  margin-top: 0;
  margin-bottom: 0;
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-34 {
  padding: 1px 10px 10px;
}

.u-section-2 .u-text-34 {
  font-weight: 800;
  font-size: 0.75rem;
  margin: 0 auto 0 0;
}

.u-section-2 .u-image-35 {
  background-image: url("images/17493600_188217915014724_6814407764807254016_n.jpeg");
  margin-top: 0;
  margin-bottom: 0;
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-35 {
  padding: 1px 10px 10px;
}

.u-section-2 .u-text-35 {
  font-weight: 800;
  font-size: 0.75rem;
  margin: 0 auto 0 0;
}

.u-section-2 .u-image-36 {
  background-image: url("images/176040259_469971690981892_5906128804562207495_n.jpeg");
  margin-top: 0;
  margin-bottom: 0;
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-36 {
  padding: 1px 10px 10px;
}

.u-section-2 .u-text-36 {
  font-weight: 800;
  font-size: 0.75rem;
  margin: 0 auto 0 0;
}

.u-section-2 .u-image-37 {
  background-image: url("images/280879162_318993400401042_3520948254051844134_n.jpeg");
  margin-top: 0;
  margin-bottom: 0;
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-37 {
  padding: 1px 10px 10px;
}

.u-section-2 .u-text-37 {
  font-weight: 800;
  font-size: 0.75rem;
  margin: 0 auto 0 0;
}

.u-section-2 .u-image-38 {
  background-image: url("images/280761362_1174120496717985_8964545619169573565_n.jpeg");
  margin-top: 0;
  margin-bottom: 0;
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-38 {
  padding: 1px 10px 10px;
}

.u-section-2 .u-text-38 {
  font-weight: 800;
  font-size: 0.75rem;
  margin: 0 auto 0 0;
}

.u-section-2 .u-image-39 {
  background-image: url("images/280835780_758769228462695_6287293838386696399_n.jpeg");
  margin-top: 0;
  margin-bottom: 0;
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-39 {
  padding: 1px 10px 10px;
}

.u-section-2 .u-text-39 {
  font-weight: 800;
  font-size: 0.75rem;
  margin: 0 auto 0 0;
}

.u-section-2 .u-image-40 {
  background-image: url("images/170586864_933210950787745_8815121207873636829_n.jpeg");
  margin-top: 0;
  margin-bottom: 0;
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-40 {
  padding: 1px 10px 10px;
}

.u-section-2 .u-text-40 {
  font-weight: 800;
  font-size: 0.75rem;
  margin: 0 auto 0 0;
}

.u-section-2 .u-image-41 {
  background-image: url("images/280755977_315390440758798_4169745886643034122_n.jpeg");
  margin-top: 0;
  margin-bottom: 0;
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-41 {
  padding: 1px 10px 10px;
}

.u-section-2 .u-text-41 {
  font-weight: 800;
  font-size: 0.75rem;
  margin: 0 auto 0 0;
}

.u-section-2 .u-image-42 {
  background-image: url("images/168663396_957954781700325_1672877657619595848_n.jpeg");
  margin-top: 0;
  margin-bottom: 0;
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-42 {
  padding: 1px 10px 10px;
}

.u-section-2 .u-text-42 {
  font-weight: 800;
  font-size: 0.75rem;
  margin: 0 auto 0 0;
}

.u-section-2 .u-image-43 {
  background-image: url("images/168826046_731835717501203_1416016752093678750_n.jpeg");
  margin-top: 0;
  margin-bottom: 0;
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-43 {
  padding: 1px 10px 10px;
}

.u-section-2 .u-text-43 {
  font-weight: 800;
  font-size: 0.75rem;
  margin: 0 auto 0 0;
}

.u-section-2 .u-image-44 {
  background-image: url("images/17438223_1749875065325258_2278689332615184384_n.jpeg");
  margin-top: 0;
  margin-bottom: 0;
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-44 {
  padding: 1px 10px 10px;
}

.u-section-2 .u-text-44 {
  font-weight: 800;
  font-size: 0.75rem;
  margin: 0 auto 0 0;
}

.u-section-2 .u-image-45 {
  background-image: url("images/274321875_1571544866546745_8228310142941475113_n.jpeg");
  margin-top: 0;
  margin-bottom: 0;
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-45 {
  padding: 1px 10px 10px;
}

.u-section-2 .u-text-45 {
  font-weight: 800;
  font-size: 0.75rem;
  margin: 0 auto 0 0;
}

.u-section-2 .u-image-46 {
  background-image: url("images/72577755_831485523915285_2976964671358299535_n.jpeg");
  margin-top: 0;
  margin-bottom: 0;
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-46 {
  padding: 1px 10px 10px;
}

.u-section-2 .u-text-46 {
  font-weight: 800;
  font-size: 0.75rem;
  margin: 0 auto 0 0;
}

.u-section-2 .u-image-47 {
  background-image: url("images/43034816_742689892776231_5132099148229897380_n.jpeg");
  margin-top: 0;
  margin-bottom: 0;
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-47 {
  padding: 1px 10px 10px;
}

.u-section-2 .u-text-47 {
  font-weight: 800;
  font-size: 0.75rem;
  margin: 0 auto 0 0;
}

.u-section-2 .u-image-48 {
  background-image: url("images/89089231_1562036540620102_5092725005510429723_n.jpeg");
  margin-top: 0;
  margin-bottom: 0;
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-48 {
  padding: 1px 10px 10px;
}

.u-section-2 .u-text-48 {
  font-weight: 800;
  font-size: 0.75rem;
  margin: 0 auto 0 0;
}

.u-section-2 .u-list-3 {
  margin-top: 0;
  margin-bottom: 7px;
}

.u-section-2 .u-repeater-3 {
  min-height: 2478px;
  grid-auto-columns: 33.3333%;
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  grid-gap: 0px 0px;
}

.u-section-2 .u-image-49 {
  background-image: url("images/83625976_2857730491014359_341726137063994987_n.jpeg");
}

.u-section-2 .u-container-layout-49 {
  padding: 1px 0;
}

.u-section-2 .u-text-49 {
  font-size: 0.75rem;
  font-weight: 800;
  margin: auto auto 0 7px;
}

.u-section-2 .u-image-50 {
  background-image: url("images/71713559_409331289773470_7523371484704940639_n.jpeg");
}

.u-section-2 .u-container-layout-50 {
  padding: 1px 0;
}

.u-section-2 .u-text-50 {
  font-size: 0.75rem;
  font-weight: 800;
  margin: auto auto 0 7px;
}

.u-section-2 .u-image-51 {
  background-image: url("images/73381080_497011354215129_1934321281632314182_n.jpeg");
}

.u-section-2 .u-container-layout-51 {
  padding: 1px 0;
}

.u-section-2 .u-text-51 {
  font-size: 0.75rem;
  font-weight: 800;
  margin: auto auto 0 7px;
}

.u-section-2 .u-image-52 {
  background-image: url("images/168572230_743717136342164_856996452591997189_n.jpeg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-52 {
  padding: 1px 0;
}

.u-section-2 .u-text-52 {
  font-size: 0.75rem;
  font-weight: 800;
  margin: auto auto 0 7px;
}

.u-section-2 .u-image-53 {
  background-image: url("images/70154123_2450639715173797_2587330885219697259_n.jpeg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-53 {
  padding: 1px 0;
}

.u-section-2 .u-text-53 {
  font-size: 0.75rem;
  font-weight: 800;
  margin: auto auto 0 7px;
}

.u-section-2 .u-image-54 {
  background-image: url("images/37053282_315973612277475_8132267773200957440_n.jpeg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-54 {
  padding: 1px 0;
}

.u-section-2 .u-text-54 {
  font-size: 0.75rem;
  font-weight: 800;
  margin: auto auto 0 7px;
}

.u-section-2 .u-image-55 {
  background-image: url("images/37527286_199518450742493_4888854251041718272_n.jpeg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-55 {
  padding: 1px 0;
}

.u-section-2 .u-text-55 {
  font-size: 0.75rem;
  font-weight: 800;
  margin: auto auto 0 7px;
}

.u-section-2 .u-image-56 {
  background-image: url("images/36767864_180844299449810_2156159868484976640_n.jpeg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-56 {
  padding: 1px 0;
}

.u-section-2 .u-text-56 {
  font-size: 0.75rem;
  font-weight: 800;
  margin: auto auto 0 7px;
}

.u-section-2 .u-image-57 {
  background-image: url("images/17494098_773901359452312_8779022636035342336_n.jpeg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-57 {
  padding: 1px 0;
}

.u-section-2 .u-text-57 {
  font-size: 0.75rem;
  font-weight: 800;
  margin: auto auto 0 7px;
}

.u-section-2 .u-image-58 {
  background-image: url("images/17439129_735257673302749_8375040494664679424_n.jpeg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-58 {
  padding: 1px 0;
}

.u-section-2 .u-text-58 {
  font-size: 0.75rem;
  font-weight: 800;
  margin: auto auto 0 7px;
}

.u-section-2 .u-image-59 {
  background-image: url("images/36984250_412557955899571_7004245070182350848_n.jpeg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-59 {
  padding: 1px 0;
}

.u-section-2 .u-text-59 {
  font-size: 0.75rem;
  font-weight: 800;
  margin: auto auto 0 7px;
}

.u-section-2 .u-image-60 {
  background-image: url("images/17438387_233705993763695_4535104432257368064_n.jpeg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-60 {
  padding: 1px 0;
}

.u-section-2 .u-text-60 {
  font-size: 0.75rem;
  font-weight: 800;
  margin: auto auto 0 7px;
}

.u-section-2 .u-image-61 {
  background-image: url("images/17494479_1909260419306559_685090942054563840_n.jpeg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-61 {
  padding: 1px 0;
}

.u-section-2 .u-text-61 {
  font-size: 0.75rem;
  font-weight: 800;
  margin: auto auto 0 7px;
}

.u-section-2 .u-image-62 {
  background-image: url("images/17438766_1883727488539255_8059861273199771648_n.jpeg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-62 {
  padding: 1px 0;
}

.u-section-2 .u-text-62 {
  font-size: 0.75rem;
  font-weight: 800;
  margin: auto auto 0 7px;
}

.u-section-2 .u-image-63 {
  background-image: url("images/17333485_151719388684340_1615963560876179456_n.jpeg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-63 {
  padding: 1px 0;
}

.u-section-2 .u-text-63 {
  font-size: 0.75rem;
  font-weight: 800;
  margin: auto auto 0 7px;
}

.u-section-2 .u-image-64 {
  background-image: url("images/17438562_232254447247628_7622365154126069760_n.jpeg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-64 {
  padding: 1px 0;
}

.u-section-2 .u-text-64 {
  font-size: 0.75rem;
  font-weight: 800;
  margin: auto auto 0 7px;
}

.u-section-2 .u-image-65 {
  background-image: url("images/17437478_1778594459135723_594944264320843776_n.jpeg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-65 {
  padding: 1px 0;
}

.u-section-2 .u-text-65 {
  font-size: 0.75rem;
  font-weight: 800;
  margin: auto auto 0 7px;
}

.u-section-2 .u-image-66 {
  background-image: url("images/9ED3688B-88E5-4506-A763-A0ED9456F099_1_105_c.jpeg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-66 {
  padding: 1px 0;
}

.u-section-2 .u-text-66 {
  font-size: 0.75rem;
  font-weight: 800;
  margin: auto auto 0 7px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-repeater-1 {
    grid-auto-columns: 33.333333333333336%;
    grid-template-columns: repeat(3, 33.333333333333336%);
    min-height: 2450px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 19px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 19px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 19px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 19px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 19px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 19px;
  }

  .u-section-2 .u-text-7 {
    margin-left: 19px;
  }

  .u-section-2 .u-text-8 {
    margin-left: 19px;
  }

  .u-section-2 .u-text-9 {
    margin-left: 19px;
  }

  .u-section-2 .u-text-10 {
    margin-left: 19px;
  }

  .u-section-2 .u-text-11 {
    margin-left: 19px;
  }

  .u-section-2 .u-text-12 {
    margin-left: 19px;
  }

  .u-section-2 .u-text-13 {
    margin-left: 19px;
  }

  .u-section-2 .u-text-14 {
    margin-left: 19px;
  }

  .u-section-2 .u-text-15 {
    margin-left: 19px;
  }

  .u-section-2 .u-text-16 {
    margin-left: 19px;
  }

  .u-section-2 .u-text-17 {
    margin-left: 19px;
  }

  .u-section-2 .u-text-18 {
    margin-left: 19px;
  }

  .u-section-2 .u-text-19 {
    margin-left: 19px;
  }

  .u-section-2 .u-text-20 {
    margin-left: 19px;
  }

  .u-section-2 .u-text-21 {
    margin-left: 19px;
  }

  .u-section-2 .u-text-22 {
    margin-left: 19px;
  }

  .u-section-2 .u-text-23 {
    margin-left: 19px;
  }

  .u-section-2 .u-text-24 {
    margin-left: 19px;
  }

  .u-section-2 .u-repeater-2 {
    grid-auto-columns: 33.333333333333336%;
    grid-template-columns: repeat(3, 33.333333333333336%);
    min-height: 3074px;
  }

  .u-section-2 .u-repeater-3 {
    grid-auto-columns: 33.333333333333336%;
    grid-template-columns: repeat(3, 33.333333333333336%);
    min-height: 2043px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-repeater-1 {
    grid-auto-columns: 50%;
    grid-template-columns: repeat(2, 50%);
    min-height: 4222px;
  }

  .u-section-2 .u-repeater-2 {
    grid-auto-columns: 50%;
    grid-template-columns: repeat(2, 50%);
    min-height: 5298px;
  }

  .u-section-2 .u-list-3 {
    margin-bottom: 0;
  }

  .u-section-2 .u-repeater-3 {
    grid-auto-columns: 50%;
    grid-template-columns: repeat(2, 50%);
    min-height: 3521px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: 100%;
  }

  .u-section-2 .u-repeater-2 {
    grid-auto-columns: 100%;
    grid-template-columns: 100%;
  }

  .u-section-2 .u-repeater-3 {
    grid-auto-columns: 100%;
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 8518px;
  }
}